.links{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: rgb(23, 23, 241);;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(23, 23, 241);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}